@tailwind base;
@tailwind components;
@tailwind utilities;

.FabSlider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  height: 100%;
  margin-bottom: 10px;
}

.FabSlider__elementTop,
.FabSlider__elementBottom {
  width: 40px;
  height: auto;
}

@media (min-height: $breakpoint-height) {
  .FabSlider__elementTop,
  .FabSlider__elementBottom {
    width: 63px;
  }
}

.FabSlider__image {
  width: 100%;
}

.FabSlider__bar {
  position: relative;
  flex-grow: 1;
  max-height: 250px;
  width: 25px;
  background-color: white;
  border: 2px solid black;
  position: relative;
  margin: 10px 0;
}

.FabSlider__bar__filler {
  background-color: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  min-height: 10px;
}
